<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="header">
  <head>
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css"
    th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
  rel="stylesheet"/>

  <!-- MetisMenu CSS -->
  <link href="../static/vendor/metisMenu/metisMenu.min.css"
  th:href="@{/vendor/metisMenu/metisMenu.min.css}"
   rel="stylesheet"/>

  <!-- Custom CSS -->
  <link href="../static/dist/css/sb-admin-2.css"
    th:href="@{/dist/css/sb-admin-2.css}"
  rel="stylesheet"/>

  <!-- Morris Charts CSS -->
  <link href="../static/vendor/morrisjs/morris.css"
  th:href="@{/vendor/morrisjs/morris.css}"
  rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
  th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
  rel="stylesheet" type="text/css"/>

  <link href="../static/css/default_style.css" rel="stylesheet"
  th:href="@{/css/default_style.css}"
  type="text/css"/>

    <title></title>
  </head>
  <body>
    <div class="row" layout:fragment="content">
      <script src="../static/vendor/jquery/jquery.min.js"
          th:src="@{/vendor/jquery/jquery.min.js}"
          ></script>
      <script
              type="application/javascript"
              src="../static/js/category.js"
              th:src="@{/js/category.js}"
      ></script>

      <div class="col-lg-12">
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
              <ul>
                <li><i class="fa fa-file-text-o"></i> Semua Kategori</li>
                <a href="#" class="add-modal"><li>Tambahkan Kategori</li></a>
              </ul>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4" style="margin-bottom: 10px">
                  <div class="input-group custom-search-form">
                      <input type="text" class="form-control" placeholder="Search..."/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Category Name</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="category : ${data}">
                              <td th:text="${category.id}"></td>
                              <td th:text="${category.name}">Baju</td>
                              <td width="7%">
                                <a href="#" class="edit-modal btn btn-primary btn-block" th:attr="data-id=${category.id},data-name=${category.name}" >Edit</a>
                                <a href="#" class="delete-modal btn btn-danger btn-block" th:attr="data-id=${category.id},data-name=${category.name}">Delete</a>
                              </td>
                          </tr>

                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.panel-body -->
        </div>
      </div>

        <div id="addModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="category_name">Nama :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="category_name" />
                                    <p class="errorTitle text-center alert alert-danger hidden"></p>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success add" data-dismiss="modal">
                                <span id="" class='glyphicon glyphicon-check'></span> Simpan
                            </button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <span class='glyphicon glyphicon-remove'></span> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="editModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_edit">ID:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_edit" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="category_name_edit">Nama :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="category_name_edit" />
                                    <p class="errorTitle text-center alert alert-danger hidden"></p>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success edit" data-dismiss="modal">
                                <span id="" class='glyphicon glyphicon-check'></span> Simpan
                            </button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <span class='glyphicon glyphicon-remove'></span> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="deleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center">Are you sure you want to delete the following post?</h3>
                        <br />
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_delete">ID:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_delete" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="category_name_delete">Title:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="category_name_delete" disabled="disabled"/>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger delete" data-dismiss="modal">
                                <span id="" class='glyphicon glyphicon-trash'></span> Delete
                            </button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <span class='glyphicon glyphicon-remove'></span> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"
        ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"
    th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"
    ></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"
    th:src="@{/vendor/metisMenu/metisMenu.min.js}"
    ></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js"
    th:src="@{/vendor/raphael/raphael.min.js}"></script>

    <script src="../static/vendor/morrisjs/morris.min.js"
    th:src="@{/vendor/morrisjs/morris.min.js}"
    ></script>
    <script src="../static/data/morris-data.js"
    th:src="@{/data/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script
    type="application/javascript"
     src="../static/dist/js/sb-admin-2.js"
      th:src="@{/dist/js/sb-admin-2.js}"
    ></script>

  </body>
</html>
