<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css"
          th:href="@{/vendor/metisMenu/metisMenu.min.css}"
          rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css"
          th:href="@{/dist/css/sb-admin-2.css}"
          rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css"
          th:href="@{/vendor/morrisjs/morris.css}"
          rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
          th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css"/>
    <title>Login</title>
</head>
<body>
<div id="root" class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">Login</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            Email :
                            <div class="form-group">
                                <input type="email" name="username" class="form-control"/>
                            </div>
                            Password :
                            <div class="form-group">
                                <input type="password" name="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary btn-block" type="submit" value="Login" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"
></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"
></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../static/vendor/metisMenu/metisMenu.min.js"
        th:src="@{/vendor/metisMenu/metisMenu.min.js}"
></script>

<!-- Morris Charts JavaScript -->
<script src="../static/vendor/raphael/raphael.min.js"
        th:src="@{/vendor/raphael/raphael.min.js}"></script>

<script src="../static/vendor/morrisjs/morris.min.js"
        th:src="@{/vendor/morrisjs/morris.min.js}"
></script>
<script src="../static/data/morris-data.js"
        th:src="@{/data/morris-data.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/dist/js/sb-admin-2.js"
        th:src="@{/dist/js/sb-admin-2.js}"
></script>
</body>
</html>