<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="header">
  <head>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
    rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css"
    th:href="@{/vendor/metisMenu/metisMenu.min.css}"
     rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css"
      th:href="@{/dist/css/sb-admin-2.css}"
    rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css"
    th:href="@{/vendor/morrisjs/morris.css}"
    rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
    th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
    rel="stylesheet" type="text/css"/>
    <title>List Product</title>
  </head>
  <body>

    <div class="row" layout:fragment="content">
        <div class="col-lg-12" style="margin-top: 30px">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 style="margin-left: 20px">List Product</h5>
                </div>
                <div class="panel-body">
                  <div class="col-lg-4" style="margin-bottom: 10px">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Available Count</th>
                                <th>Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>1</td>
                                <td>Baju</td>
                                <td>Bajua baru</td>
                                <td>10</td>
                                <td>10.000</td>
                                <td> <a href="#" class="btn btn-primary btn-block">Edit</a></td>
                                <td> <a href="#" class="btn btn-danger btn-block">Delete</a></td>
                            </tr>

                        </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <script src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"
        ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"
    th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"
    ></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"
    th:src="@{/vendor/metisMenu/metisMenu.min.js}"
    ></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js"
    th:src="@{/vendor/raphael/raphael.min.js}"></script>

    <script src="../static/vendor/morrisjs/morris.min.js"
    th:src="@{/vendor/morrisjs/morris.min.js}"
    ></script>
    <script src="../static/data/morris-data.js"
    th:src="@{/data/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"
      th:src="@{/dist/js/sb-admin-2.js}"
    ></script>
  </body>
</html>
