<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="header">
  <head >
    <meta charset="UTF-8"/>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
    rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css"
    th:href="@{/vendor/metisMenu/metisMenu.min.css}"
     rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css"
      th:href="@{/dist/css/sb-admin-2.css}"
    rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css"
    th:href="@{/vendor/morrisjs/morris.css}"
    rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
    th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
    rel="stylesheet" type="text/css"/>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>
    <div class="row" layout:fragment="content">
      <div class="col-lg-7" style="margin-top: 30px">
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="post" th:object="${data}">
              <fieldset>
                <div class="form-group">
                  <p>Nama Produk : </p>
                  <input id="name" name="name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                  <p>Deskripsi : </p>
                  <input id="description" name="description" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                  <p>Harga : </p>
                  <input id="price" name="price" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                  <p>Stok : </p>
                  <input id= name="count" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                  <p>Kategori :</p>
                  <select id="category" name="category" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                            value="1">Baju</option>
                  </select>
                  <a class="btn btn-primary" style="margin-top: 10px" id="add_category" >Tambah</a>
                </div>
                <p>Kategori pilihan : </p>
                <div id="category_id">
                  <ul class="list-group col-lg-4">

                  </ul>
                </div>

                <div class="form-group" style="margin-top: 10px">
                    <input class="btn btn-primary btn-block" type="submit" value="Simpan" />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

    </div>

    <script src="../static/js/product.js"></script>

    <script src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"
        ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"
    th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"
    ></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"
    th:src="@{/vendor/metisMenu/metisMenu.min.js}"
    ></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js"
    th:src="@{/vendor/raphael/raphael.min.js}"></script>

    <script src="../static/vendor/morrisjs/morris.min.js"
    th:src="@{/vendor/morrisjs/morris.min.js}"
    ></script>
    <script src="../static/data/morris-data.js"
    th:src="@{/data/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"
      th:src="@{/dist/js/sb-admin-2.js}"
    ></script>
  </body>
</html>
