<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
    rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css"
    th:href="@{/vendor/metisMenu/metisMenu.min.css}"
     rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css"
      th:href="@{/dist/css/sb-admin-2.css}"
    rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css"
    th:href="@{/vendor/morrisjs/morris.css}"
    rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css"
    th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
    rel="stylesheet" type="text/css"/>
    <title>Sign up</title>

</head>
<body>

  <div id="root" class="container" style="margin-top: 20px">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">Sign up</h3>
          </div>
          <div class="panel-body">
            <form th:action="@{/signup}" method="post" th:object="${userForm}">
              <fieldset>
                <p>Email : </p> <p style="color : red" th:each="error: ${#fields.errors('email')}" th:text="${error}">Email error</p>
                <div class="form-group">
                  <input class="form-control" name="email" th:field="*{email}"/>
                </div>
                <p>Username : </p> <p style="color : red" th:each="error: ${#fields.errors('username')}" th:text="${error}">Username error</p>
                <div class="form-group">
                  <input class="form-control" name="username" th:field="*{username}"/>
                </div>
                <p>Password : </p> <p style="color : red" th:each="error: ${#fields.errors('password')}" th:text="${error}">Password error</p>
                <div class="form-group">
                  <input class="form-control" name="password" type="password" th:field="*{password}"/>
                </div>
                <p>Retype password : </p>
                <div class="form-group">
                  <input class="form-control" name="retypePassword" type="password" th:field="*{passwordConfirmation}"/>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-block" type="submit" value="Sign up" />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script>
    var app = new Vue({
      el : '#root'
    })
  </script>
</body>
</html>
